 :root {
    --text-color: #757575;
    --title-color: #212121;
    --accent-color: #2196f3;
    --hero-title-color: #ffffff;
    --hero-background-color: #2f303a;
    --hero-background-hover-color: #188CE8;
    --team-background-color: #f5f4fa;
    --logo-black-color: #000000;
    --logo-light-color: #ffffff;
    --footer-background-color: #2f303a;
    --footer-email-tel: rbg(255, 255, 255, 0.6);
    --icon-color: #AFB1B8;
 }
 
 body {
   font-family: Roboto, sana-serif;
   font-size: 14px;
   line-height: 1.2;

   background-color: var(--hero-title-color);
   color: var(--text-color)
 }

img {
   display: block;
}

h2, h3, h4, h5, h6, p {
   margin: 0;
}

.list-footer {
   display: flex;
   flex-direction: column;
   gap: 9px;
}

.list {
   list-style: none;
   padding: 0;
   margin: 0;
}

.list-icon {
   width: 44px;
   height: 44px;
   display: flex;
   align-items: center;
   justify-content: center;
   
  
}

.list-footer:not(:last child) {
   margin-bottom: 9px;
}

.link {
   text-decoration: none;
}

a,
button {
cursor: pointer;
}

.list-client li {
   list-style: none;
   align-items: center;
   flex-wrap: wrap;
}

.list-client {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 30px;
   margin: 0;
   padding: 0;
 }

 .client-list {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
   margin: 0;
   padding: 0;
 }

.client-portfolio {
   padding: 22px 24px;
   border: 1px solid #eeeeee;
   border-top: none;
}

.section-buttons {
   display: flex;
   gap: 8px;
   justify-content: center;
   margin-bottom: 34px;
   }
.client-roster:hover,
.client-roster:focus {
   width: 370px;
  
}


.client-roster:hover .client-text {
   opacity: 1;
  
}

.portfolio-link {
   display: block;
}

.portfolio-link:hover,
.portfolio-link:focus {
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
}

/* site navigation */

.logo {
   font-family: Raleway, sana-serif;;
   font-weight: 700;
   font-size: 26px;
   color: var(--accent-color);
}

.logo-dark {
   color: var(--logo-black-color);
}

.nav-link,
.contacts {
   letter-spacing: 0.02em;
}


.current {
   position: relative;

}

.current-studio::after {
   content: " ";
   color: var(--accent-color);

   position: absolute;

   top: 78px;
   left: 0;
   width: 48px;
   height: 4px;
   border-radius: 2px;
   background-color: var(--hero-background-hover-color);

}

.current-portfolio::after {
   content: " ";
   color: var(--accent-color);

   position: absolute;

   top: 78px;
   left: 0;
   width: 78px;
   height: 4px;
   border-radius: 2px;
   background-color: var(--hero-background-hover-color);


}

.contacts {
   display: flex;
   margin-left: auto;
}

.contacts-envelope {
   width: 16px;
   height: 12px;
   margin-right: 10px;
   fill: #757575;

}

.contacts:hover .contacts-envelope,
.contacts:focus .contacts-envelope{
   fill: var(--hero-background-hover-color);
  
}

.contacts-phone {
   width: 10px;
   height: 16px;
   margin-right: 10px;
   fill: #757575;
}

.contacts:hover .contacts-phone,
.contacts:focus .contacts-phone{
   fill: var(--hero-background-hover-color);
   
}

.nav-link {
   display: block;
   justify-content: space-between;

   display: block;
   font-weight: 500;
   font-size: 14px; 
   line-height: 1.14;
   color: var(--title-color) ;
   text-decoration: none;
   padding: 32px 0;
    
}

.contact-nav {
   display: flex;
   gap: 50px;
   margin-left: auto;
}

.header-box {
   display: flex;
}

.header-top {
   border-bottom: 1px solid #ECECEC;
}  

.main-nav {
   display: flex;
   align-items: center;
}

 .item:last-child {
   margin-right: 0;
}

.header-nav {
   display: flex;
   margin-left: 93px;
   gap: 50px;
}
.list-item {
width: 270px;
margin-top: 0;
}

.specifics-item {
   width: 370px;

}

.specifics-div {
   position: relative;
}

.specifics-title-div {
   position: absolute;
   background-color: rgba(47, 48, 58, 0.8);
   display: flex;
   justify-content: center;
   align-items: center;
   width: 370px;
   height: 70px;
   bottom: 0;
}

.client-div {
   position: relative;}

.specifics-title {

   font-style: inherit;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.17;
   text-transform: uppercase;

   text-align: center;
   letter-spacing: 0.03em;

   position: absolute;
   color: var(--hero-title-color);
  
}

.box {
   position: absolute;
   transform: translateY(0);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  
}

.box::before {
   display: inline-block;
   content: '';
   position: absolute;
   background: rgba(33, 150, 243, 0.9);
   width: 370px;
   height: 294px;
   bottom: 0;
   opacity: 0;
   
}

.box:hover ::before
.box:focus ::before {
   
   opacity: 1;
}

.box:hover .overlay
.box:focus .overlay {

   position: absolute;
   transform: translateY(-100%);
  
}
   
.client-text {
   font-style: inherit;
   font-weight: 400;
   font-size: 18px;
   line-height: 1.56;
   
   
   text-align: left;
   letter-spacing: 0.03em;
   opacity: 0;
   
   color: var(--hero-title-color);
   bottom: 0;
   left: 0;
   position: absolute;
   padding-top: 63px;
   padding-right: 24px;
   padding-left: 24px;
   width: 370px;
}


.list-item:not(:last child) {
   margin-right: 30px;
}

.specifics {
display: flex;
gap: 30px;
}

.workers-list {
   display: flex;
   gap: 30px;
}
.current,
.nav-link:hover,
.nav-link:focus,
.contacts:hover,
.contacts:focus,
.footer-contacts:hover,
.footer-contacts:focus {
   color: var(--accent-color);
  
}

.features-title {
   margin-bottom: 10px;

   font-weight: 700;
   font-size: 14px;
   line-height: 1.17;
   color: var(--title-color);
   text-transform: uppercase;
}

.portfolio-section {
   padding-top: 94px;
   padding-bottom: 94px;
}

.portfolio-title {
   margin-bottom: 4px;
   font-weight: 700;
   font-size: 18px; 
   line-height: 2;
   color: var(--logo-black-color);
}

.features-text { 
   font-size: 14px;
   line-height: 1.71;
}

.portfolio-text {
   color: var(--text-color);
   font-size: 16px;
   line-height: 1.88;
   margin: 0;
   
}

.team-text {
   text-align: center;

   font-size: 16px;
   line-height: 1.9;
}

.section-title {
   text-align: center;
   margin-bottom: 50px;

   font-size: 36px;
   line-height: 1.17;
   font-weight: 700;
   color: var(--title-color);
   letter-spacing: 0.03em;
  
}

.specific {
   padding-bottom: 94px;
}

.team-title {
text-align: center;
margin-bottom: 10px;

font-size: 16px;
line-height: 1.9;
color: var(--logo-black-color);
}

.section-table {
   background-color: var(--hero-title-color);
   padding: 30px;
   margin-top: 0;
}

.icon {
fill: #AFB1B8;
width: 20px;
height: 20px;
}

.list-network {
   display: flex;
   gap: 10px;
   margin-top: 16px;
   padding: 0;

}
.footer-icon {
   display: flex;
   gap: 10px;
   margin-top: 16px;
   padding: 0;
}
.icon-network {
   fill: var(--hero-title-color);
   width: 20px;
   height: 20px;
   }


.footer-network {
   color:var(--logo-light-color);
   text-transform: uppercase;
   font-style: inherit;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.17;}

.link-icon{
margin: 0;
padding: 0;
border: none;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
background-color:rgba(255, 255, 255, 0.1);
}

.section-client {
   padding-top: 94px;
   padding-bottom: 94px;
}

.button-network:hover,
.button-network:focus {

   width: 44px;
   height: 44px;
   border-radius: 50%;
   background-color: var(--accent-color);
   fill: var(--hero-title-color);
   
}

.list-icon:hover,
.list-icon:focus {
   width: 44px;
   height: 44px;
   border-radius: 50%;
   background-color: var(--accent-color);
   fill:var(--logo-light-color);
   display: flex;
   align-items: center;
   justify-content: center;
   
}


.link-client {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 170px;
   height: 92px;
   padding: 0;
   border: none;
   background-color: var(--hero-title-color); 
   border: 1px solid #AFB1B8;
   border-radius: 4px;
   fill: #AFB1B8;
}

.link-client:hover,
.link-client:focus {
   fill: #2196F3;
   border: 1px solid #2196F3;}
  
.client-icon {
   width: 106px;
   height: 60px;
}

.link-icon:hover .icon,
.link-icon:focus .icon{
   fill: #ffffff;
   
}

.link-icon:hover ,
.link-icon:focus {
   background-color: var(--accent-color);
   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.section-title-client {
   text-align: center;
   margin-bottom: 50px;

   font-size: 36px;
   line-height: 1.17;
   font-weight: 700;
   color: var(--title-color);
   letter-spacing: 0.03em;
}
.client {
   width: 106px;
   height: 60px;
   fill: var(--icon-color);
}
.contacts {
   display:flex;
   font-weight: 500;
   padding: 32px 0;
   color: inherit;
   align-items: center;
}

.button-filter:focus,
.button-filter:hover {
   color: var(--hero-title-color);
   background-color: var(--accent-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
}

.button-filter {
   display: flex;
   padding: 6px 22px ;
   border: none;
   border-radius: 4px;

   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   letter-spacing: 0.02em;
   
   color: var(--title-color);
}

.features-icon {

fill: #212121;
width: 70px;
height: 70px;
}

.features-div {
display: flex;
align-items: center;
background-color: #F5F4FA;
justify-content: center;
width: 270px;
height: 120px;
margin-bottom: 30px;
border-radius: 4px;
}

.container-main {
   width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}


.container {
width: 1200px;
margin: 0 auto;
padding: 0 15px;
}

.features-section {
   padding-top: 94px;
   padding-bottom: 94px;
}

.features-list {
   display: flex;
   margin-top: 0;
   margin-bottom: 0;
   gap: 30px;

}

.visually-hidden {
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
}

.portfolio {
   visibility: hidden;
}

/* Hero */

.hero {
   padding-top: 200px;
   padding-bottom: 200px;

  

   width: 1600px;
   height: 600px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   background-image: linear-gradient( rgba(47, 48, 58, 0.4),  rgba(47, 48, 58, 0.4)), url(../images/heroImg.jpg);
   background-position: center, center;
   background-repeat: no-repeat, no-repeat;
   background-size: cover, cover;
   margin: 0 auto;
}

.hero-title {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   margin-bottom: 30px;
   margin-top: 0;
   width: 700px;


   font-weight: 900;
   font-size: 44px;
   line-height: 1.4;
   text-transform: uppercase;
   color: var(--hero-title-color);
}
 

.hero-button {
   display: block;
   border-radius: 4px;
   margin-left: auto;
   margin-right: auto;
   height: 50px;
   width: 216px;

   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.9;
   color: var(--hero-title-color);

   background-color: var(--accent-color);
   border: none;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.hero-button:hover,
.hero-button:focus {
   color: var(--hero-title-color);
   background-color:var(--hero-background-hover-color);
}
   

.section-backgroung {
   background-color: var(--team-background-color);
   padding-top: 94px;
   padding-bottom: 94px;
   margin-top: 0;

}

.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color:rgba(0, 0, 0, 0.1);
   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
   width: 528px;
   height: 581px;
   background-color: var(--hero-title-color);

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate( -50%, -50%);
   
}

.modal-button {
   position: absolute;
   width: 30px;
   height: 30px;
   right: 14px;
   top: 14px;
   border-radius: 50%;
   background-color: var(--hero-title-color);
   border-color: rgba(0, 0, 0, 0.1);

   display: flex;
   align-items: center;
   justify-content: center;

}

.close-icon {
   width: 18px;
   height: 18px;
}

/* footer */

.footer {
   background-color: var(--hero-background-color);
   padding: 60px 0;
gap: 70px;
}

.footer-adress { 
   color: var(--hero-title-color);
}

.footer-contacts {
   color: rgba(255, 255, 255, 0.6);
   font-family: inherit;
   font-style: 400;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   text-decoration: none;
}


.down-adress {
   font-style: normal;
   margin-top: 18px;
}

.logo-light {
   color: var(--logo-light-color);
}

.footer-box {
   display: flex;
   align-items: baseline;

}

.footer-div {
   margin-left: 94px;
}
